<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div id="loginpage" class="row ">
            <div class="alerts col-md-4 col-sm-11 col-lg-6 col-xs-8 col-centered" ng-shw="notify.queue.length >= 0">
                <div class="alert alert-{{(m.type)||'info'}} alert-dismissable fade in" ng-repeat="m in notify.queue">
                    <button type="button" class="close" ng-click="closeAlert(m.body)" data-dismiss="alert">×</button>

                    <div class=" "><label>{{m.title}}</label><span>:</span>{{m.body}}</div>
                </div>
            </div>
            <div class="clearfix"> </div>
            <div id="forgotPanel" ng-show="isForgotActive">
            <div class="col-md-10 col-sm-11 col-lg-6 col-xs-12 modal-header col-centered whitebg ">
                <div class="row margin-content">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12  ">
                        <div align="center" class="logoimg"><img src="images/logo_u25.png" alt="logoimg" /> </div>
                        <div class="col-md-12">
                            <h1> PASSWORD/LOGIN HELP</h1>
                            <p>
                                Your User Name may be the email address you gave us when you signed up. If you need help with your Account Number, User Name, or Password, please provide one piece of security information below so we can assist you.
                            </p>
                            <h3>SIGNUP EMAIL ADDRESS  </h3>
                        </div>
                        <div class="clearfix"> </div>
                        <div class="form-group">
                            <form id="forgotForm" name="forgotForm" novalidate >
                                <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12  form-group" ng-class="{'has-error': forgotForm.email.$invalid && !forgotForm.email.$pristine}">

                                    <email-ctrl> </email-ctrl>

                                    <span class="help-block" ng-show="forgotForm.email.$error.email && !forgotForm.email.$pristine">Email address is invalid</span>

                                </div>
                                <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12 text-center"><span class="ortext">or...</span> </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <h3>CONTACT PHONE </h3>
                                </div>
                                <div class="col-md-8 col-sm-8 col-lg-8 col-xs-12  form-group" ng-class="{'has-error': forgotForm.phone.$invalid && !forgotForm.phone.$pristine}">
                                    <phone-ctrl ng-model="userphone"></phone-ctrl>
                                    <span class="help-block" ng-show="forgotForm.phone.$error.$pattern && !forgotForm.phone.$pristine">Phone is invalid</span>
                                </div>
                                <div class="clearfix"></div>
                                <div align="center" class="col-md-offset-2 ">
                                    <div class="col-md-5  col-sm-5 col-lg-5 col-xs-12 form-group">
                                        <button type="submit" class="btn btn-default btn-block" ng-click="btnCancel()">CANCEL</button>
                                    </div>
                                    <div class="col-md-5 col-sm-5 col-lg-5 col-xs-12 form-group">
                                        <button type="button" class="btn btn-primary btn-block" ng-click="btnSubmit(forgotForm)">GET LOGIN INFO</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- footer -->
                        <div class="clearfix"></div>
                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 ">
                            <div class="row vdivide">
                                <ul class="list-unstyled text-gray ">
                                    <li class="sub text-center "><a href=""> Home </a></li>
                                    <li> | </li>
                                    <li class="sub text-center"><a href=""> Privacy Policy </a></li>
                                    <li> | </li>
                                    <li class="sub text-center"><a href="">Terms & Conditions </a></li>
                                    <li> | </li>
                                    <li class="sub text-center"><a href="">Contact Us </a></li>
                                </ul>
                                <div class="clearfix"></div>

                            </div>

                        </div>
                        <div class="text-center vdivide text-gray"> © EDR 2015 </div>
                        <!-- footer end -->
                    </div>

                </div>
            </div>
            </div>
            <div id="thanksPanel" ng-show="isThanksActive">
                <div class="col-md-10 col-sm-11 col-lg-6 col-xs-12 modal-header col-centered whitebg ">
                    <div class="row margin-content">
                        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12  ">
                            <div align="center" class="logoimg"><img src="images/logo_u25.png" alt="logoimg" /> </div>
                            <div class="col-md-12">
                                <h1>Thanks!</h1>
                                <p>

                                    We will send an email to the email address associated with this Account. This may take some time, so please be patient. We'll retrieve your Account information and get back to you ASAP!
                                    <br><br> If you need help immediately you can always call us at 800.352.0050 and speak with your EDR Customer Care representative.
                                </p>

                            </div>


                            <div class="clearfix"> </div>
                            <div class="col-md-12  text-center">
                                <button class="btn btn-md btn-primary" ng-click="btnDone()"> DONE </button>
                            </div>


                            <!-- footer -->
                            <div class="clearfix"></div>
                            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2  top-margin">
                                <div class="row vdivide">
                                    <ul class="list-unstyled text-gray ">
                                        <li class="sub text-center "><a href=""> Home </a></li>
                                        <li> | </li>
                                        <li class="sub text-center"><a href=""> Privacy Policy </a></li>
                                        <li> | </li>
                                        <li class="sub text-center"><a href="">Terms & Conditions </a></li>
                                        <li> | </li>
                                        <li class="sub text-center"><a href="">Contact Us </a></li>
                                    </ul><div class="clearfix"></div>

                                </div>

                            </div>
                            <div class="text-center vdivide text-gray"> © EDR 2015 </div>
                            <!-- footer end -->
                        </div>

                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    
</body>
</html>
